.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.content {
    flex: 4;
    padding: 20px;
    margin-left: 0;
    
}

@media screen and (min-width: 1200px) {
    .content {
        margin-left: 312px;
    }
}


.wrapper {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 60vh; 
    background-color: #38a3a5; 
    border-radius: 20px;
}

.main {
    display: flex;
    gap: 3rem; /* Space between cards */
}

.cards {
    display:block;
    padding:2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #80ed99;
    border-radius: 100px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    width: 150px; /* Adjust width of cards */
    height: 150px; /* Adjust height of cards */
}

.cards:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.cards h1 {
    font-size: 24px;
    margin: 0;
    color: #364a42;
}

.cards p {
    font-size: 14px;
    color: #364a42;
    text-align: center;
    align-content: center;
    
}

.chart {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px; 
    
    
}



